ul {
    list-style: none;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header li {
    color: var(--dark-grayish-blue);
    margin: 0 35px 0 35px;
}

.push {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-left: auto;
}

.profile-pic {
    max-height: 45px;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-main-image {
    max-width: 25vw;;
}

product-sub-images {
    max-width: 25vw;
}

.product-image {
    border-radius: 15px;;
}

.product-image-large {
    max-width: 25vw;
}

.product-image-small {
    max-width: 5.2vw;
    margin: 15px;
}