ul {
    list-style: none;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header li {
    color: var(--dark-grayish-blue);
    margin: 0 35px 0 35px;
}

.push {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-left: auto;
}

.profile-pic {
    max-height: 45px;
}

#main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
}

.product-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-main-image {
    max-width: 25vw;;
}

product-sub-images {
    max-width: 25vw;
}

.product-image {
    border-radius: 15px;;
}

.product-image-large {
    max-width: 17vw;
}

.product-image-small {
    max-width: 3.1vw;
    margin: 9px;
    border: 3px solid transparent;
}

.selected-image {
    border: 3px solid var(--orange);
    background-color: rgba(255, 255, 255, 0.8);
    /* opacity: 0.2 */
}


.product-detail {
    max-width: 20vw;
    margin-left: 100px;
}

.product-head {
    color: var(--orange);
    font-weight: 700;
}

.product-title {
    font-weight: 1000;
}

.current-price {
    display: flex;
    align-items: center;
}

.product-sub-images {
    display: flex;
}

.discount {
    margin-left: 18px;
    color: var(--orange);
    background-color: var(--pale-orange);
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
}

.old-price {
    color: var(--grayish-blue);
    text-decoration: line-through;
    margin-top: -10px;
}

.add-remove-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-remove-amount {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px 2px 4px 2px;
    margin: 0 15px 0 0;
    background-color: var(--light-grayish-blue);
    width: 8vw;
    border-radius: 15px;
}

.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    width: 12vw;
    border-radius: 15px;
    padding: 2px 0 0 2px;
    color: white;
}

.cart-icon {
    filter: brightness(100);
}